[submodule "nxhtml"]
	path = nxhtml
	url = https://github.com/emacsmirror/nxhtml.git
[submodule "eldonkey"]
	path = eldonkey
	url = file:///home/tiago/src/elisp/eldonkey/
[submodule "ljupdate"]
	path = ljupdate
	url = git://github.com/hober/ljupdate.git
[submodule "hideshow-org"]
	path = hideshow-org
	url = git://github.com/secelis/hideshow-org.git
[submodule "egg"]
	path = egg
	url = git://github.com/byplayer/egg.git
[submodule "rainbow-delimiters"]
	path = rainbow-delimiters
	url = git://github.com/emacsmirror/rainbow-delimiters.git
[submodule "zenburn-bbatsov"]
	path = zenburn
	url = git://www.github.com/bbatsov/zenburn-emacs
[submodule "emacs-ditz"]
	path = emacs-ditz
	url = git@github.com:tiagosab/emacs-ditz.git
[submodule "debian-mr-copyright-mode"]
	path = debian-mr-copyright-mode
	url = git+ssh://git.debian.org/git/users/fourmond/debian-mr-copyright-mode.git
[submodule "magit"]
	path = magit
	url = git://github.com/magit/magit.git
[submodule "org-jekyll"]
	path = org-jekyll
	url = git://github.com/juanre/org-jekyll.git
